footer{
    padding: 30px;
    text-align: center;
    .fa{
        color: grey;
        padding: 10px;
        border: 2px solid grey;
        border-style: double;
        border-radius: 100%;
        margin:10px;
    }

    @media only screen and (max-width:950px){
        padding: 0px;
        text-align: center;
        .fa{
            color: grey;
            padding:8px;
            border: 2px solid grey;
            border-style: double;
            border-radius: 100%;
            margin:5px;
            font-size:10px;
        }

        p{
            font-size:8px;
            margin-bottom:10px;
        }
    }
}